.NavBar {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    font-weight: bold;
}

.navList {
    background-color: #00010b;
    width: 45rem;
    padding: 1rem 2.5rem;
    display: flex;
    justify-content: space-between;
    gap: 5rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(136, 0, 0, 1);
}  

.navItem {
    list-style: none;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.navItem a:hover {
    color: #880000;
}