/* DETELE THIS */
.DeleteThis {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
/* ----------- */

.subTitle {
    font-family: 'OpenSans', sans-serif;
    color: #717171;
    font-size: 4rem;
    font-weight: 300;
    margin: 0;
    line-height: 1;
    display: flex;
    flex-direction: row;
    gap: 3.5rem;
}

.mainSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
