@font-face {
    font-family: MoonStone;
    src: url(/src/assets/fonts/MoonStone.ttf) format('truetype');
}

@font-face {
    font-family: n27;
    src: url(/src/assets/fonts/n27.ttf) format('truetype');
}
 
@font-face {
    font-family: OpenSans;
    src: url(/src/assets/fonts/OpenSans.ttf) format('truetype');
}

:root {
    font-family: 'OpenSans', sans-serif;
    background-color: #00010b;
    color: #fff;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    height: 100vh;
}

h1 {
    font-family: 'MoonStone', sans-serif;
    font-size: 16rem;
    font-weight: 300;
    line-height: 1;
    margin: 0;
    letter-spacing: 3px;
}

h2 {
    font-family: 'n27', sans-serif;
    font-size: 6rem;
    font-weight: 300;
    line-height: 1;
    margin: 0;
}

a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
   
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.showBorder {
    border: 3px solid orange;
}